[Unit]
Description=MailHamster SMTP Relay
Documentation=https://github.com/Tiboriuss/MailHamster
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mailhamster --config /etc/mailhamster/mailhamster.yaml
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mailhamster

[Install]
WantedBy=multi-user.target
